*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* buttons styling */

.top-btn{
    float: right;
    width: 150px;
    margin-right: 5px;
    color: white;
    font-size: 15px;
}

.quot{
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: -50px;
    margin-bottom: 50px;
    color: rgb(104, 102, 102);
}

.quot-head{
    height: 40px;
    width: 100%;
    background-color: #2e3f50;
    padding-top: 2px;
}

.quot-head h4{
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 9px 0px 5px 15px;
}

.form-sec{
    display: flex;
    padding: 20px 10px 0px 90px;
}

.left{
    flex: 1;
}

.right{
    flex: 1;
}


.note{
    display: flex;
    padding: 20px 10px 0px 90px;
    margin-top: -20px;
}

textarea{
    height: 50px;
    width: 82.5%;
    margin-left: 75px;
    border: 1px solid black;
    border-radius: 0px;
}

input{
    height: 30px;
    width: 250px;
    margin-bottom: 8px;
    padding-left: 4px;
    font-size: 14px;
}

.box2{
    height: 30px;
    width: 250px;
    margin-left: 25px;
    border: 1px solid black;
    
}

.box3{
    margin-left: 32px;
    border: 1px solid black;
}

.box5{
    margin-left: 15px;
}

.box6{
    margin-left: 24px;
}

span{
    color: black;
}

/* style  for discription drop-down*/
.quotation-box{
    margin-top: 0.5px;
    height: 37px;
    width: 450px;
    color: #2e3f50;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
}

/* particulars table  */

.part{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(104, 102, 102);
}

.part-head{
    height: 40px;
    width: 100%;
    background-color: #2e3f50;
    padding-top: 2px;
}

.part-head h4{
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 9px 0px 5px 15px;
}

/* modal styling part */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin-left: 300px;
    padding: 20px;
    border: 1px solid rgb(206, 205, 205);
    width: 65%;
  }

  .tables{
      display: flex;
  }

  .tables .table-left table{
      height: 100%;
      width: 50px;
      border:1px solid rgb(182, 179, 179);
  }

  .tables table th{
      background-color: rgb(201, 201, 201);
  }

  .tables table tr td{
      background-color: white;
      border:1px solid rgb(185, 181, 181);
  }


  .tables .table-right{
    height: 100%;
    width: 100%;
    margin-left: 10px;
  }

  .table-right table tr th{
    border:1px solid rgb(192, 192, 192);
  }

  .table-right table tr td{
    border:1px solid rgb(190, 190, 190);
    font-size: 14px;
    padding: 2px;
  }

  .plus-btn{
      width: 25px;
      margin-left: 15px;
  }

  .count-td{
    margin-left: 1px;
    margin-top: 10px;
    width: 65px;
    height: 20px;
  }


  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width:900px){
        .modal{
            width: 90%;
        }
        
        
  }

